@import './src/style/variables.scss';

.task {
  &__container {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    box-shadow: $boxShadow;

    word-break: break-all;

    &--upcoming {
      background-color: $brightRed;
    }

    &--in-progress {
      background-color: $brightYellow;
    }

    &--done {
      background-color: $brightGreen;
    }
  }
}
