@import './src/style/mixins.scss';

.task {
  &__container {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    box-shadow: $boxShadow;

    word-break: break-all;
  }

  &--upcoming {
    background-color: $softRed;
  }

  &--in-progress {
    background-color: $softYellow;
  }

  &--done {
    background-color: $softGreen;
  }
}
