.button {
  padding: 8px;
  width: 100%;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  background-color: #9bb9d0;
  border-radius: 4px;
  font-size: 20px;

  &:active {
    transform: scale(0.95);
  }
}
