@import './src/style/mixins.scss';

.button {
  padding: 8px;
  width: 100%;
  box-shadow: $boxShadow;
  background-color: $softBlue;
  border-radius: 4px;
  font-size: 20px;

  &:active {
    transform: scale(0.95);
  }
}
