@import './src/style/variables.scss';

.board {
  &__container {
    box-shadow: $boxShadow;

    max-height: calc(100vh - 166px);
    min-height: 256px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
  }

  &__content {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;

    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
