.board {
  &__container {
    width: 100%;
    // background-color: #dcc7aa;
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 24px;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 16px;
  }
}
