@import './src/style/mixins.scss';

.modal {
  &__backdrop {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    padding: 16px;
    box-shadow: $boxShadow;
    background-color: $softWhite;
  }
}
