@import './src/style/variables.scss';

.header {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 56px;
    background-color: $softBlue;
    box-shadow: $boxShadow;
  }

  &__delete {
    display: none;
    overflow: hidden;

    &--border {
      animation-duration: 0.5s;
      animation-name: slide-in;

      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      padding: 8px 16px;
      border: 2px dashed black;
    }
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
