$boxShadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);

$softWhite: #fbfaf5;
$softBlue: #9bb9d0;

$softRed: #d09b9b;
$softYellow: #d0c99b;
$softGreen: #9fd09b;

$brightRed: #ffbdae;
$brightYellow: #ffea79;
$brightGreen: #93e396;
