.add-task {
  &__container {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 12px;
  }

  &__textarea {
    width: 400px;
    height: 100px;
    font-size: 32px;
    resize: none;
    outline: none;
    background-color: inherit;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__limit {
    width: 100%;
    display: flex;
    justify-content: right;
    font-size: 20px;
  }
}
