@import './src/style/variables.scss';

.add-task {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__textarea {
    width: 400px;
    height: 116px;
    font-size: 32px;
    padding: 8px;
    resize: none;
    outline: none;
    background-color: inherit;
    border: none;

    &--red {
      background-color: $brightRed;
    }

    &--yellow {
      background-color: $brightYellow;
    }

    &--green {
      background-color: $brightGreen;
    }

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__radio-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 16px;
  }

  &__radio-input {
    width: 24px;
    height: 24px;

    &--red {
      accent-color: $brightRed;
    }

    &--yellow {
      accent-color: $brightYellow;
    }

    &--green {
      accent-color: $brightGreen;
    }

    &:focus {
      outline: none;
    }
  }

  &__limit {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: right;
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
